body{
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(7, 7, 56);
    height:480px;
}
.header{
    
    color: white;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    height: 40px;
    cursor: pointer;
}
.main_box{
    height: 300px;
    background-color: rgba(131, 131, 201, 0.581);
    margin-top: 100px;
    width: 1400px;
    border-radius: 10px;
    margin-left: 40px;
    color: white;
}
.title_main{
    font-size: 50px;
    font-weight: 900;
}
.logo{
   
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 15px;
    left: 20px;
}
.slogan{
    font-size: 80px ;

}
.pos_title{
    position: relative;
    
    left: -110px;
    bottom: 20px;
}
.pos_minslogan{
    position: relative;
    left: 100px;
    font-size: larger;
}
.pos_sign{
    position: relative;
    left: 500px;
}
.sign_button{
    background-color: rgb(231, 181, 18);
    color: black;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
}
.tag_line{
    color: white;
    font-weight: 900;
    font-size: 30px;
    margin-top: 160px;
    margin-left: 50px;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.adjectives{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.adj{
    height: 40px;
    width: 150px;
    border-top-right-radius: 10px;
    text-align: center;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.vid_block{
    background-color: rgb(2, 2, 27);
    height: 400px;
    width: 1500px;
    display: flex;
    color: white;
}
.book_pic{
    height: 400px;
    width: 750px;
}
.knowledge{
    margin-left: 100px;
    margin-top: 150px;
    line-height: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.features{
    background-color: rgb(19, 132, 194);
    height: 1200px;
    width: 1500px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.access{
    display: flex;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 35px;
}
.access_img{
    margin-top: 90px;
    margin-left: 30px;
    height: 300px;
    width: 500px;
}
.access_pos{
    margin-top: 200px;
}
.join{
    background-image: url("71578.jpg");
    height: 700px;
    width: 1500px;
    
}
.text_join{
    line-height: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bolder;
    font-size: xx-large;
    position: relative;
    top: 100px;
    left: 270px;
}
.join_img_pos{
    position: relative;
    top: 160px;
    display: flex;
}
.laptop{
    height: 400px;
    width: 500px;
}
.sign_pos{
    position: relative;
    top:90px;
    left: 70px;
}
.b_size{
    width: 180px;
    height: 60px;
    font-size: larger;
}
